body{
    background-color: black;
}

.corpo{
    color: aliceblue;
    justify-items: center;
    margin-top: 100px;
}

.one{
    display: flex;
    margin-bottom: 4px;
    margin-top: 7px;
    font-size: large;
    background-color: rgb(145, 0, 143);
    color: azure;
    border-radius: 5%;
    border:none;
    width: 150px;
    height: 40px;
    font-size: 20px;
    
}

#n1{
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
}
#n2{
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
}